.dark {
  --main-color: #8781c2;
  --bg-color: #121926;
  --link-hover-color: #7066e2;
  --divider-color: rgb(46, 61, 83);
  --icon-color: #c7c6c6;
  --text-grey-color: #adabab;
  --text-white-color: #000;
  --text-black-color: #fff;
  --card-bg-color: #1b2538;
  --gray-bg-color: rgb(50 59 76);
  --stepper-divider-color: #535353;
  --content-title: #8781c2;


  --base-box-shadow: none;
  --input-bg-color: hsla(0, 0%, 100%, 0.1);

  //nav bar
  --navbar-bg-color: rgba(22, 27, 34, 0.5);
  --navbar-link-color: #fff;

  //menu
  --menu-bg-color: rgba(15, 23, 42, 0.8);
  --menu-panel-bg-color: #8781c2;
  --menu-divider-color: rgb(169 169 169);
}
