.dark {
  --main-color: #3f3d56;
  --bg-color: rgb(15 23 42/1);
  --link-hover-color: #7066e2;
  --divider-color: rgba(60, 60, 67, 0.12);
  --icon-color: #737171;

  --navbar-bg-color: rgba(22, 27, 34, 0.5);
}
